{% extends "base.html" %}
{% block title %}
<title>Add Table</title>
{% endblock %}

{% block contenido %}
<body>
<section class="book-a-table" style="margin: 9%;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Add Table</h2>
            <p>Table Form</p>
        </div>

        <form method="post">
            {% csrf_token%}
            {% for element in form.visible_fields %}
            <div class="mb-5 input-form" style="padding-bottom: 5px;" >
                <label class="form-label">{{element.label}}</label>
                {{element}}
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" style="background: #cda45e; border: 0; color: #fff; border-radius: 50px; padding: 10px 35px;">Submit</button>
            </div>
        </form>

    </div>
</section>
</body>
{% endblock %}