{% extends "base.html" %}
{% block title %}
<title>Delete Product</title>
{% endblock %}

{% block contenido %}
<body>
<section class="book-a-table" style="margin: 9%;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Delete Product</h2>
            <p>Delete Product</p>
        </div>

        <form method="post" novalidate>
            {% csrf_token %}
            <div class="card card-body section-title text-center"
                 style="background: #0c0b09; margin-bottom: 10px; border-color: #625b4b;font-size: 14px; color: white;">
                <h3>Are you sure you want to delete "{{ object.name }}"?</h3>
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <input type="submit" class="btn book-a-table-btn scrollto col-lg-8" value="confirm">
                    </div>
                    <div class="col-lg-6 my-2">
                        <a href="{% url 'product' %}" class="btn book-a-table-btn scrollto col-lg-8">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
</body>
{% endblock %}