{% extends "base.html" %}
{% block title %}
<title>Product List</title>
{% endblock %}

{% block contenido %}
<body>
<section class="book-a-table" style="margin: 9%;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Product List</h2>
            <p>Product List</p>
        </div>

        <div class="row">
            {% for element in product %}
            <div class="col-4">
                <div class="card"
                     style="width: 18rem; background: #0c0b09; margin-bottom: 10px; border-color: #625b4b;font-size: 14px; color: white;">
                    <div class="card-body section-title">
                        <h3 class="text-center">Product</h3>
                        <h5 class="card-text">Name: {{element.name}}</h5>
                        <h5 class="card-text">Amount: {{element.amount}}</h5>
                        <h5 class="card-text">Type: {{element.type}}</h5>
                        <div class="row">
                            <div class="col-lg-12 my-2">
                                <a href="/update_product/{{ element.id }}" class="book-a-table-btn scrollto">Update</a>
                                <a href="/delete_product/{{ element.id }}" class="book-a-table-btn scrollto">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
</body>
{% endblock %}