{% extends "base.html" %}
{% block title %}
<title>Table List</title>
{% endblock %}

{% block contenido %}
<body>
<section class="book-a-table" style="margin: 9%;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Table List</h2>
            <p>Table List</p>
        </div>

        <div class="row">
            {% for element in table %}
            <div class="col-4">
                <div class="card"
                     style="width: 18rem; background: #0c0b09; margin-bottom: 10px; border-color: #625b4b;font-size: 14px; color: white;">
                    <div class="card-body section-title">
                        <h3 class="text-center">Table</h3>
                        <h5 class="card-text">Number: {{element.number_diner}}</h5>
                        <h5 class="card-text">Location: {{element.location}}</h5>
                        <div class="row">
                            <div class="col-lg-12 my-2">
                                <a href="/update_table/{{ element.id }}" class="book-a-table-btn scrollto">Update</a>
                                <a href="/delete_table/{{ element.id }}" class="book-a-table-btn scrollto">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
</body>
{% endblock %}