{% extends "base.html" %}
{% block title %}
<title>Invoice List</title>
{% endblock %}

{% block contenido %}
<body>
<section class="book-a-table" style="margin: 9%;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Invoice List</h2>
            <p>Invoice List</p>
        </div>

        <div class="row">
            {% for element in invoice %}
            <div class="col-4">
                <div class="card"
                     style="width: 18rem; background: #0c0b09; margin-bottom: 10px; border-color: #625b4b;font-size: 14px; color: white;">
                    <div class="card-body section-title">
                        <h3 class="text-center">Invoice</h3>
                        <h5 class="card-text">Id: {{element.id}}</h5>
                        <h5 class="card-text">Date: {{element.date_invoice}}</h5>
                        <h5 class="card-text">Client: {{element.client_id}}</h5>
                        <h5 class="card-text">Waiter: {{element.waiter_id}}</h5>
                        <h5 class="card-text">Table: {{element.table_id}}</h5>
                        <h5 class="card-text">Order: </h5>
                        {% for elements in element.order_id.all %}
                        <h5>- {{elements.id_product}} {{elements.quantity}}</h5>
                        {% endfor %}
                        <div class="row">
                            <div class="col-lg-12 my-2">
                                <a href="/update_invoice/{{ element.id }}" class="book-a-table-btn scrollto">Update</a>
                                <a href="/delete_invoice/{{ element.id }}" class="book-a-table-btn scrollto">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
</body>
{% endblock %}